.info-card {
    width: 240px;
    background: white;
    color: rgba(0, 0, 0, .7);
    border-radius: 8px;
    padding: .5rem;
    margin: .5rem;
}

.info-card h1 {
    font-size: 18px;
}

.info-card h4 {
    text-align: left;
}

.info-card__img {
    width: 240px;
    height: 135px;
    object-fit: cover;
}
