.title-button {
        width: 250px;
        background: lightgrey;
        border-radius: 8px;
        margin-bottom: 1rem;
        color: rgb(129, 129, 129);
        padding: .5rem 0;
        margin: .5rem;
}
.title-button:hover {
    color: white;
    background-color: hsl(204, 59%, 49%);
}
.title-button p {
    margin: 0;
}
